@import './variables';

.grid-home {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 70% 30%;
    .grid-home-right {
        background-color: $accentcolor;
        .home-google {
            height: 4rem;
            display: grid;
            margin: auto;
            margin-top: 3rem;
            align-content: center;
            font-size: 1.25rem;
        }
    }
}